Bottles
FubuCore
FubuLocalization
FubuMVC.Authentication
FubuMVC.ContentExtensions
FubuMVC.Core
FubuMVC.Core.View
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.StructureMap
FubuTestingSupport
HtmlTags
NUnit
Owin
Owin.Extensions
RhinoMocks
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Storyteller2
structuremap
structuremap.automocking
