Bottles
FubuCore
FubuLocalization
FubuMVC.Authentication
FubuMVC.Core
FubuMVC.Katana
FubuMVC.StructureMap
FubuTestingSupport
HtmlTags
NUnit
Owin
RhinoMocks
Selenium.RC
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Serenity
Storyteller2
structuremap
structuremap.automocking
