<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>FubuMVC.Saml2</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="https://www.myget.org/F/fubumvc-edge" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc/" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="Bottles" Version="3.0.0.590" Mode="Float" />
    <Dependency Name="FubuCore" Version="2.0.0.287" Mode="Float" />
    <Dependency Name="FubuLocalization" Version="1.1.0.181" Mode="Float" />
    <Dependency Name="FubuMVC.Authentication" Version="0.1.0.404" Mode="Float" />
    <Dependency Name="FubuMVC.Core" Version="2.0.0.1783" Mode="Float" />
    <Dependency Name="FubuMVC.Katana" Version="2.0.0.1783" Mode="Float" />
    <Dependency Name="FubuMVC.StructureMap" Version="2.0.0.1783" Mode="Float" />
    <Dependency Name="FubuTestingSupport" Version="2.0.0.287" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.3.0" Mode="Fixed" />
    <Dependency Name="NUnit.Runners" Version="2.6.3.0" Mode="Float" />
    <Dependency Name="Owin" Version="1.0" Mode="Fixed" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Selenium.RC" Version="2.33.0" Mode="Float" />
    <Dependency Name="Selenium.Support" Version="2.33.0" Mode="Float" />
    <Dependency Name="Selenium.WebDriver" Version="2.33.0" Mode="Float" />
    <Dependency Name="Selenium.WebDriverBackedSelenium" Version="2.33.0" Mode="Float" />
    <Dependency Name="Serenity" Version="0.10.0.295" Mode="Float" />
    <Dependency Name="structuremap" Version="3.0.3.116" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="3.0.3.116" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>